@import "../../styles.scss";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #010101;
  z-index: 9999;

  .debating-society {
    font-family: $fontB;
    font-size: 30px;
    color: #fff;
  }

  .text-wrapper {
    overflow: hidden;
    width: 100%;
    height: 30px;

    .d-and-s {
      font-family: $fontB;
      font-size: 30px;
      color: #fff;
      display: inline-block;
      align-items: center;

      span {
        display: inline-block;
        margin-left: 5px;
        opacity: 0.8;
      }
    }
  }
}
