@import "../../styles.scss";


.landing {
  background: #010101;
  cursor: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
  

  .header, .description{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "PpMori";
  }

  .hoverable {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "montserrat";
    font-size: 120px;
  }

  .description {
    // border-bottom: 2px solid #fff;
    padding: 10px 0;
    margin-top: 25px;
  }
  
  .debating,
  .society {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "PpMori";
    opacity: 0;
  }

  .society {
    text-align: right;
  }


  .register-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
  }

  .section-indicator {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "montserrat";
    font-size: 14px;
    opacity: 0;
  }

  .cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: #f7f8fa;
      }
    }
  }

  .centre-main {
    height: 100vh;
    font-family: "PpMori";
    font-size: clamp(16px, 7vw, 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    .content-wrapper {
      text-align: center; 
    }
    .bar {
      margin-top: 200px;
      width: 1500px;
      height: 1px;
     background-color: white;
     animation-name: example;
     animation-duration: 2s;
    }

    @keyframes example {
      from {width: 10px;}
      to {width: 1500px;}
    }

  }
}

// @media screen and (max-width: 480px) {
//   .centre-main {
//     font-family: $fontB;
//     font-size: 20px !important;
//     display: flex;
//     justify-content: center;
//     align-items: center; 

//     .content-wrapper {
//       text-align: center; 
//     }
//   }
// }

