@import "../../styles.scss";


.landing {
  height: 100vh;
  background: #010101;
  cursor: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .header, .description, .hoverable {
    color: #fff;
    text-align: center;
    font-family: $fontB;
  }

  .description {
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    margin-top: 25px;
  }

  .cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: #f7f8fa;
      }
    }
  }

  .centre-main {
    font-family: $fontB;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 

    .content-wrapper {
      text-align: center; 
    }
  }
}

@media screen and (max-width: 480px) {
  .centre-main {
    font-family: $fontB;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center; 

    .content-wrapper {
      text-align: center; 
    }
  }
}

