$fontB: 'PpMoriSM';
$font: 'PpMori';



  @font-face {
    font-family: 'PpMoriSM';
    src: url('../public/fonts/PPMori-SemiBold.otf');
  }

  @font-face {
    font-family: 'PpMori';
    src: url('../public/fonts/PPMori-Regular.otf');
  }  